@import '../variables';

section {
    padding-top: 25px;
    .account-list {
        background: $white;
        padding: 15px;
        .title {
            font-size: 15px;
            font-weight: 600;
            color: $title-dark-color;
        }
    }
}
