@import '../variables';

section {
    padding-top: 25px;
    .account-list {
        background: $white;
        .title {
            padding: 15px;
            margin: 0;
            font-size: 15px;
            font-weight: 600;
            color: $title-dark-color;
        }
        .account-item {
            padding: 15px;
            background: $white;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            &:hover {
                cursor: pointer;
                background: darken($white, 5%)
            }
            img {
                float: left;
                margin-right: 10px;
            }
            &.active {
                background: $item-bg-active;
                border-top: 1px solid #EBEFF2;
                border-bottom: 1px solid #EBEFF2;
                box-shadow: inset 5px 0 0 0 #F2662A;
                &:hover {
                    background: darken($item-bg-active, 5%)
                }
            }
            .account-provider {
                font-size: $item-title-font-size;
                font-weight: $item-title-font-weight;
                color: $item-title-color;
                margin-bottom: 0;
            }
            .account-description {
                font-size: $item-desc-font-size;
                color: $item-desc-color;
                margin-bottom: 5px;
            }
            .account-value {
                font-size: $item-title-font-size;
                font-weight: $item-title-font-weight;
                float: right;
                margin-bottom: 0;
                position: relative;
                top: -40px;
            }
        }
    }
    .account-details {
        .header {
            background: $black;
            padding: 35px;
            min-height: 144px;
            h2 {
                font-size: 30px;
                font-weight: bold;
                margin: 0;
            }
            h3 {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 5px;
            }
            p {
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 5px;
            }
            h2, h3, p {
                color: $white;
            }
        }
        .transactions {
            background: $white;
            .transaction-date {
                padding: 10px 15px;
                background: #E5E5E5;
                color: #797979;
                font-size: 12px;
                font-weight: bold;
                p {
                    margin: 0;
                }
            }
            .transaction {
                padding: 10px 15px;
                min-height: 64px;
                &:after {
                    content: "";
                    display: block;
                    width: 102%;
                    padding-top: 43px;
                    border-bottom: 1px solid #F1F3F5;
                }
                .description {
                    font-size: $item-title-font-size;
                    font-weight: $item-title-font-weight;
                    color: $item-title-color;
                    margin: 0;
                }
                .category {
                    font-size: $item-desc-font-size;
                    color: $item-desc-color;
                    margin: 0;
                }
                .amount {
                    font-size: $item-title-font-size;
                    font-weight: $item-title-font-weight;
                    color: $item-title-color;
                }
            }
        }
    }
}
